
.nav{
    height: 100%;
    padding: 0% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .angular img, .logo img, .ngxs img{
        height: 36px;
    }

    .logo{
        flex-grow: 1;
    }
}