
.home{
    box-sizing: border-box;
    width: 100%;
    height: 100Vh;
    background-color: #41B3A3;

    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 7% 86% 7%;

    .nav-bar, .left-side-bar, .right-side-bar{
        background-color: white;
    }

    .nav-bar{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}